@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p> Basic Sayfası Concurrency Ayarı Yapılmadan Kaydetme İşlemi </p>
    <p> AttributeToken Sayfası Concurrency Ayarı Attribute Olarak Yapılan Kaydetme İşlemi </p>
    <p> RowVersion Sayfası Concurrency Ayarı RowVersion Sütunu Eklenerek Yapılan Kaydetme İşlemi </p>
</div>
